
	<div class="container">
		<header>Brick Out</header>
		<!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
		<canvas id="myCanvas" width="800" height="300"></canvas><br>
		<button id="startGame" class="newGame">Start</button>
		<button id="play" style="display:none">Play</button>
		<button id="stop" style="display:none">Pause</button>
		<div class="row info">
		    <div class="level_block col-md-6">
		    	<h2>Level</h2>
		    	<div class="level">1</div>
		    </div>
		    <div class="score_block col-md-6">
	            <h2>Score</h2>
			    <div class="score">0</div>
		    </div>
		</div>
		<h3>Instructions</h3><br>
		<span class="help">click on left arrow to move the paddle left</span><br><br>
		<span class="help">click on right arrow to move the paddle right</span><br><br>
	</div>
